<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="dashboard.Bookingfacility"/>
      <class name="MyFacilities.SimulateFacilityOfRatesForBOTHWithAdminLogin"/>
      <class name="dashboard.MemberSocietyAssests"/>
      <class name="MyFacilities.CreateFacilityWithHalfDayFulldayPackagePriceDetails"/>
      <class name="dashboard.ResetPassword"/>
      <class name="MyFacilities.simulationOfFacilityWithSpecialPackageAndHourlyRates"/>
      <class name="dashboard.AdminCommiteeMembers"/>
      <class name="MyFacilities.BookFacilityOfRatesForBothWithSplPackageAndhourlyrates"/>
      <class name="MyFacilities.CancelTenantFacility"/>
      <class name="MyFacilities.SimulateOwnerFacilityWithMemberLogin"/>
      <class name="dashboard.ManageMembers"/>
      <class name="dashboard.AdminSocietyinventoryMigratedItems"/>
      <class name="dashboard.MembermaintainanceTeamMembers"/>
      <class name="dashboard.AdminContactIMAHelpDesk"/>
      <class name="IntegrationWithBiometric.AdminRegularvendorsWithoutBadgeId"/>
      <class name="MyFacilities.BookOTHFacilityWithSameTimingOverlap"/>
      <class name="MyFacilities.CreateFacilityWithHourlyhalfDayFullDayPriceDetails"/>
      <class name="dashboard.MemberAttendanceregistor"/>
      <class name="dashboard.MemberSocietyInventory"/>
      <class name="dashboard.GetAdminUserCredentialsAndChangePassword"/>
      <class name="dashboard.Adminvisitorregister"/>
      <class name="MyFacilities.SimulationOfFacilityWithPackagePricesFor5HrsWithAdminLogin"/>
      <class name="MyFacilities.BookOTHFacilityWithAdminLogin"/>
      <class name="IntegrationWithBiometric.InHouseStaffWithBadgeIdAndWithOutSMSTick"/>
      <class name="MyFacilities.SimulationOfOwnerFacility"/>
      <class name="IntegrationWithBiometric.AssignVacantCaraprkingToVisitors"/>
      <class name="MyFacilities.SimulateOwnerFacilityWithTenantLogin"/>
      <class name="dashboard.MemberPersonalDocuments"/>
      <class name="dashboard.Carparkinglots"/>
      <class name="dashboard.MemberCommiteeMembers"/>
      <class name="dashboard.FAQ"/>
      <class name="IntegrationWithBiometric.AddRegularVendorWithoutSMSTick"/>
      <class name="dashboard.UserJourneys"/>
      <class name="IntegrationWithBiometric.AdminInHouseStaffWithOutBadgeId"/>
      <class name="MyFacilities.SimulateOTHFacilityWithAdminLogin"/>
      <class name="MyFacilities.BookingTenantFacilityWithOverlapTimingsWithTenantLogin"/>
      <class name="IntegrationWithBiometric.ServantMaidListwithouBageID"/>
      <class name="dashboard.ChangeComplaintStatusToClosed"/>
      <class name="dashboard.Adminfinancereports"/>
      <class name="dashboard.AdminSocietyInVentoryReceipts"/>
      <class name="dashboard.CreateComplaintByNonMember"/>
      <class name="dashboard.Managerole"/>
      <class name="MyFacilities.CreatePaidFacilityOnlyForTenant"/>
      <class name="dashboard.RoleAvailabilityCheckingInManageMembers"/>
      <class name="MyFacilities.CreatePaidFacilityOnlyForOthers"/>
      <class name="dashboard.MemberRegularVendor"/>
      <class name="dashboard.AdminManageroledelete"/>
      <class name="dashboard.AdminCurrentevents"/>
      <class name="MyFacilities.SimulateFacilityOfRatesForBothWithTenantLogin"/>
      <class name="IntegrationWithBiometric.RegularVendorsWithBadgeId"/>
      <class name="dashboard.AdminComplaintTracker"/>
      <class name="MyFacilities.SimulateOTHFacilityFor1hr30mintsWithAdminLogin"/>
      <class name="IntegrationWithBiometric.AdminInHouseStaffWithBadgeIDAndSMSTick"/>
      <class name="dashboard.MemberDashBoardNetBalance"/>
      <class name="dashboard.AdminSocietyassestsWithoutServiceCompletionDate"/>
      <class name="dashboard.NonMemberComplaintTracker"/>
      <class name="dashboard.Duelist"/>
      <class name="MyFacilities.CreateFacilityWithFreeBookingAllowedFor30Mints"/>
      <class name="MyFacilities.SimulationOfFacilityWithHalfAndFullDaypricesfor1dayWithAdminLogin"/>
      <class name="MyFacilities.SimulationFacilityofFullAndHalfDayPricesFor13hrsWithAdminLogin"/>
      <class name="MyFacilities.SimulationOfFacilityWithPackagePricesWithOwnerLogin"/>
      <class name="dashboard.Templates"/>
      <class name="MyFacilities.SimulateOTHFacilityWithTenantLogin"/>
      <class name="dashboard.AdminProfile"/>
      <class name="MyFacilities.SimulateTenantFacilityWithOwnerLogin"/>
      <class name="dashboard.HidingMailAndContactOfCommitteeMember"/>
      <class name="dashboard.AdminSocietyinventoryissues"/>
      <class name="MyFacilities.SimulationOfFacilityWithFullAndHalfDayChargesWithTenantLogin"/>
      <class name="dashboard.MemberPostagecourierregistor"/>
      <class name="dashboard.Errornotifications"/>
      <class name="MyFacilities.simulateFacilityOfRatesForBothWithOwnerLogin"/>
      <class name="MyFacilities.SimulationOfFacilityOfFullandHalfDaypricesfor6hrsWithAdminLogin"/>
      <class name="dashboard.Noticeboard"/>
      <class name="MyFacilities.SimulationOftenantFacilityWithAdminLogin"/>
      <class name="dashboard.CategoriesInMyCommitments"/>
      <class name="MyFacilities.BookingOTHFacilityWithDiffOverlapTimings"/>
      <class name="MyFacilities.BookOwnerFacilityWithOwnerLoginAfterCancel"/>
      <class name="MyFacilities.BookingFreeFacilityWithLessthanAllowedTime"/>
      <class name="dashboard.CreateCommitments"/>
      <class name="dashboard.ManageNonMembers"/>
      <class name="MyFacilities.SimulateOTHFacilityWithOwnerLogin"/>
      <class name="dashboard.AdminAddEditDeletecomplaints"/>
      <class name="dashboard.MemberSocietyMeetingCalendar"/>
      <class name="MyFacilities.CreateFacilityForBoth"/>
      <class name="MyFacilities.BookFreeFacilityfor30mintsOverlaping"/>
      <class name="dashboard.MemberContactIMAHelpDesk"/>
      <class name="IntegrationWithBiometric.AdminVacantcarparking"/>
      <class name="dashboard.listofUserJourneys"/>
      <class name="MyFacilities.CancelOTHFacilityWithAdminLogin"/>
      <class name="MyFacilities.CreatePaidFacilityOnlyForOwners"/>
      <class name="MyFacilities.simulationOfFacilityWithPackagePricesWithAdminLogin"/>
      <class name="dashboard.MemberMyResidents"/>
      <class name="MyFacilities.BookOwnerFacilityWithOverLappingTimingsWithMemberLogin"/>
      <class name="MyFacilities.BookingOwnerFacilityWithMemberLogin"/>
      <class name="dashboard.AdminAmcDetails"/>
      <class name="MyFacilities.CreateFacilityWithFreeNoBookingAllowed"/>
      <class name="dashboard.AdminSocietyMeetingCalendarWithoutSms"/>
      <class name="dashboard.AdminMaintananceTeamMembers"/>
      <class name="dashboard.AdminSocietydocuments"/>
      <class name="dashboard.AdminAttendanceRegister"/>
      <class name="MyFacilities.SimulateTenantFacilityWithTenantLogin"/>
      <class name="IntegrationWithBiometric.ServantMaidListWithBadgeID"/>
      <class name="MyFacilities.simulationOfFacilityWithPackagePricesWithTenantLogin"/>
      <class name="MyFacilities.CancelFacilityOfRatesForBothWithSplPackageAndhourlyratesWithAdminLogin"/>
      <class name="dashboard.MemberSocietyDocuments"/>
      <class name="IntegrationWithBiometric.EditSeravntmaidListWithUnTickSMS"/>
      <class name="MyFacilities.simulationOfFacilityOFRatesForBOTHWith5hrs30Mints"/>
      <class name="MyFacilities.SimulationOfFacilityWithFullAndHalfDayChargesWithOwnerLogin"/>
      <class name="dashboard.MemberComplaintTracking"/>
      <class name="common.TestBase"/>
      <class name="dashboard.AdminSocietyInventoryInchargeDetails"/>
      <class name="dashboard.ShowEventsInSocietyMeetingCalendar"/>
      <class name="MyFacilities.BookTenantFacilityWithTenantLogin"/>
      <class name="dashboard.MemberMyAccount"/>
      <class name="dashboard.uploadfile"/>
      <class name="dashboard.AdminPDC"/>
      <class name="dashboard.AdminMyresidents"/>
      <class name="dashboard.AdminSocietyMeetingCalanderWithSms"/>
      <class name="MyFacilities.BookFreeFacilityWith30MintsWithMemberLogin"/>
      <class name="dashboard.Membercurrentevents"/>
      <class name="MyFacilities.BookFacilityWithFree"/>
      <class name="MyFacilities.CancelOwnerFacility"/>
      <class name="MyFacilities.BookOwnerFacilityWithOverlappingTimingsWithAdminLogin"/>
      <class name="dashboard.MemberPdc"/>
      <class name="dashboard.AdminSocietyAssetWithServiceCompletionDate"/>
      <class name="MyFacilities.simulationOfFacilityWithPackagePricesfor6hrsWithAdminLogin"/>
      <class name="MyFacilities.BookFreeFacilityMoreThanAllowedTimingsWithAdminLogin"/>
      <class name="dashboard.KeyMemberDetails"/>
      <class name="dashboard.AdminInHouseStaff"/>
      <class name="dashboard.AdminSarvantmaidlist"/>
      <class name="dashboard.AdminPostageandcourier"/>
      <class name="MyFacilities.BookTenantFacilityWithOverlapTimingWithAdminLogin"/>
      <class name="MyFacilities.BookingFreeFacilityMoreThanAllowedTimeWithMemberLogin"/>
      <class name="dashboard.MemberServantmaidList"/>
      <class name="dashboard.Membercomplaints"/>
      <class name="MyFacilities.BookFreeFacilityWith30MintsWithAdminLogin"/>
      <class name="dashboard.GetMemberUserCredentialsAndChangePassword"/>
      <class name="dashboard.Membervisitorregistor"/>
      <class name="dashboard.autotext"/>
      <class name="dashboard.AdminInHouseStaffWithOutBadgeId"/>
      <class name="dashboard.Productionlogincheck"/>
      <class name="dashboard.MemberAmcDetails"/>
      <class name="dashboard.admincancelbooking"/>
      <class name="dashboard.AdminSocietyInventoryReports"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
